<div ng-controller="searchController">

  <div class="searchBar">
    <select class="cat" ng-model="selectedCategory" ng-options="x for x in categories">
    </select>
    <select class="diff" ng-model="selectedDifficulty" ng-options="x for x in difficulties">
    </select>
    <select class="skill" ng-model="selectedSkill" ng-change="go('/search/' + selectedSkill.id)" ng-options="skill.skillName for skill in (skills | filteredSkills:selectedCategory:selectedDifficulty)">
    </select>
  </div>

  <div class="skill-video" ng-repeat="video in searchVideos">
    <div class="voting-box">
      <img class="upvote" src="../src/images/up.png" />
      <p class="votes">{{video.votes}} votes</p>
      <img class="downvote" src="../src/images/down.png" />
    </div>
    <iframe ng-src="{{video.url | trusted }}" width="1280" height="720" allowFullScreen></iframe>
    <p class="username">Uploaded by <a href="/#/profile/{{video.user_details.id}}">{{video.user_details.username}}</a></Link>
  </div>
</div>
